<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
<div class="phone">
    <div class="container">
        <div class="grid-page">
            <div class="card-head">
                <div>
                    <form class="filter-form" action="/grid" method="GET" id="searchForm">
                        <button type="submit">
                            <img src="/static/icons/search.png" alt="Найти" class="icon" style="height: 39px">
                        </button>
                        <input type="text" name="search" placeholder="Введите дозу (мг/кг)" value="{{ .SearchQuery }}">
                    </form>
                </div>
            </div>
            <div class="grid-container" id="gridContainer">
                {{ if .services }}
                    {{ range .services }}
                    <div class="grid-item">
                        <a href="/feed/{{ .ID }}">
                            <div class="image-wrapper">
                                <img src="http://localhost:9000/media/{{ .ImageKey }}" alt="{{ .Title }}">
                                <div class="likes-badge">
                                    <img src="/static/icons/like-activate.png" alt="Лайки" class="heart-icon">
                                    <span class="likes-count">{{ .LikeCount }}</span>
                                </div>
                                <div class="card-info">
                                    <span class="card-title">{{ .Title }}</span>
                                    <span> Доза: {{ .AdultDose }} мг/кг </span>
                                    {{ if and (ne .Concentration.Mg 0) (ne .Concentration.Ml 0) }}
                                        <span> Концентрация: {{ .Concentration.Mg }} мг / {{ .Concentration.Ml }} мл </span>
                                    {{ end }}
                                </div>
                            </div>

                        </a>
                    </div>
                    {{ end }}
                {{ else }}
                    <div style="grid-column: 1 / -1; text-align: center; padding: 40px 0; color: #00266c; font-size: 18px;">
                        {{ if .SearchQuery }}
                        Препараты с дозой {{ .SearchQuery }} мг/кг не найдены
                        {{ else }}
                        Нет доступных препаратов
                        {{ end }}
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
    {{ template "nav.html" . }}
</div>
</body>
</html>