<nav class="bottom-nav">
    <a href="/drugs/liked" {{ if eq .ActiveTab "likes_drug" }}class="active"{{ end }}>
    <img src="/static/icons/heart.png" alt="Лайкнутые" class="nav-icon" style="height: 65px">
    </a>
    <a href="/drugs/add" {{ if eq .ActiveTab "add_drug" }}class="active"{{ end }}>
    <img src="/static/icons/plus.png" alt="Добавить" class="nav-icon" style="height: 68px">
    </a>
    <a href="/drugs" {{ if eq .ActiveTab "drug_info" }}class="active"{{ end }}>
    <img src="/static/icons/home.png" alt="Дом" class="nav-icon" style="height: 60px">
    </a>
</nav>