<!-- templates/nav.html -->
<nav class="bottom-nav">
  <div class="bottom">
    <a href="/grid" {{ if eq .ActiveTab "grid" }}class="active"{{ end }}>
    <img src="/static/icons/heart.png" alt="Плитка" class="nav-icon" style="height: 65px">
    </a>
  </div>
  <div class="bottom">
    <a href="/feed/1" {{ if eq .ActiveTab "feed" }}class="active"{{ end }}>
    <img src="/static/icons/home.png" alt="Дом" class="nav-icon" style="height: 60px">
    </a>
  </div>
  <div class="bottom">
    <a href="/add" {{ if eq .ActiveTab "add" }}class="active"{{ end }}>
    <img src="/static/icons/plus.png" alt="Добавить" class="nav-icon" style="height: 68px">
    </a>
  </div>
</nav>